.filters {
	@include flex(row);
    flex-wrap: wrap;
	gap: 1rem;
	margin: 4rem 0rem;
}

.filter {
	display: flex;
	color: #1D6154;
	background-color: #FFFEF8;
	padding: 0.5rem 1.5rem;
	border-radius: 1.5rem;
	box-shadow: none;
	border: 1.50px solid #1D6154;
	font-family: 'Work Sans' ;
	font-size: 0.9rem;
	font-weight: bold;
}

.filter:hover {
	cursor: pointer;
}

.filter--active {
	background-color: #1D6154;
	color: white;
}