.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 70px;
    & a {
        @include flex(column, normal, normal);
        border-radius: 1rem;
        background-color: #FAFAFA;
    }
    & img {
        height: 380px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    & figcaption {
        padding: 0.5rem;
        align-self: center;
    }
}