.modal-wrapper {
    @include flex(column, normal, center);
    height: 100%;
    width: 100%;
    gap: 2rem;
    &__header {
        @include flex(row, end, center);
        width: 100%;
        &__img {
            height: 15px;
            width: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__layout {
        @include flex(row, normal, center);
        width: 100%;
        max-height: 700px;
        gap: 12%;
    }
    &__fig {
        height: 100%;
        width: 50%;
        &__img {
        height: 100%;
        width: 100%;
        }
        &__caption {
            opacity: 0;
        }
    }
    &__info {
        @include flex(column, normal, normal);
        height: 700px;
        width: 30%;
        padding-top: 2rem;
        gap: 1.5rem;
        &__h {
            font-size: 1.5rem;
        }
        &__p {
            font-size: 1rem;
        }
    }
}