.footer {
    @include flex(row, center, normal);
    height: 100%;
    width: 100%;
    gap: 10%;
    margin-top: 3rem;
    padding: 3rem;
    background-color: black;
    &__content {
        @include flex(row, space-between, normal);
        width: 90%;
        & a, p {
            color: white;
        }
    }
    &__link-icon-up {
        @include flex(column, center, normal);
        height: 120px;
        width: 100px;
        color: white;
        font-size: small;
        text-align: center;
    }
    &__icon-up {
        color: white;
    }
}